<!DOCTYPE html>
<html class="writer-html5" lang="en" >
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Search &mdash; Vespula.Ldap latest documentation</title>
      <link rel="stylesheet" href="_static/pygments.css" type="text/css" />
      <link rel="stylesheet" href="_static/css/theme.css" type="text/css" />
      <link rel="stylesheet" href="_static/vespula.css" type="text/css" />
    <link rel="shortcut icon" href="_static/vespula_icon.png"/>
    
  <!--[if lt IE 9]>
    <script src="_static/js/html5shiv.min.js"></script>
  <![endif]-->
  
        <script data-url_root="./" id="documentation_options" src="_static/documentation_options.js"></script>
        <script src="_static/jquery.js"></script>
        <script src="_static/underscore.js"></script>
        <script src="_static/doctools.js"></script>
    <script src="_static/js/theme.js"></script>
    <script src="_static/searchtools.js"></script>
    <script src="_static/language_data.js"></script>
    <link rel="index" title="Index" href="genindex.html" />
    <link rel="search" title="Search" href="#" /> 
</head>

<body class="wy-body-for-nav"> 
  <div class="wy-grid-for-nav">
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search"  style="background: #778899" >
            <a href="index.html" class="icon icon-home"> Vespula.Ldap
          </a>
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="#" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>
        </div>
    <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="Navigation menu">
              <ul>
<li class="toctree-l1"><a class="reference internal" href="getting_started.html">Getting Started</a></li>
<li class="toctree-l1"><a class="reference internal" href="finding_entries.html">Finding Entries</a><ul>
<li class="toctree-l2"><a class="reference internal" href="finding_entries.html#find-a-single-entry">Find a Single Entry</a></li>
<li class="toctree-l2"><a class="reference internal" href="finding_entries.html#find-all-entries">Find All Entries</a></li>
<li class="toctree-l2"><a class="reference internal" href="finding_entries.html#finding-entries-by-attribute">Finding Entries by Attribute</a></li>
<li class="toctree-l2"><a class="reference internal" href="finding_entries.html#setting-findby-attributes">Setting FindBy Attributes</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="attributes.html">Returned Attributes</a><ul>
<li class="toctree-l2"><a class="reference internal" href="attributes.html#specify-attributes-returned">Specify Attributes Returned</a></li>
<li class="toctree-l2"><a class="reference internal" href="attributes.html#using-attribute-aliases">Using Attribute Aliases</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="other.html">Other Methods</a><ul>
<li class="toctree-l2"><a class="reference internal" href="other.html#checking-if-an-entry-is-active">Checking if an Entry is Active</a></li>
<li class="toctree-l2"><a class="reference internal" href="other.html#other-stuff-of-note">Other Stuff of Note</a></li>
</ul>
</li>
</ul>
<p class="caption" role="heading"><span class="caption-text">Source</span></p>
<ul>
<li class="toctree-l1"><a class="reference external" href="https://bitbucket.org/jelofson/vespula.ldap">Bitbucket</a></li>
<li class="toctree-l1"><a class="reference external" href="https://packagist.org/packages/vespula/ldap">Packagist</a></li>
</ul>

        </div>
    <div class="vespula">
        <a href="https://vespula.bitbucket.io/"><img src="_static/vespula_white.png"/></a>
    </div>

      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap"><nav class="wy-nav-top" aria-label="Mobile navigation menu"  style="background: #778899" >
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="index.html">Vespula.Ldap</a>
      </nav>

      <div class="wy-nav-content">
        <div class="rst-content">
          <div role="navigation" aria-label="Page navigation">
  <ul class="wy-breadcrumbs">
      <li><a href="index.html" class="icon icon-home"></a> &raquo;</li>
      <li>Search</li>
      <li class="wy-breadcrumbs-aside">
      </li>
  </ul>
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
             
  <noscript>
  <div id="fallback" class="admonition warning">
    <p class="last">
      Please activate JavaScript to enable the search functionality.
    </p>
  </div>
  </noscript>

  
  <div id="search-results">
  
  </div>

           </div>
          </div>
          <footer>

  <hr/>

  <div role="contentinfo">
    <p>&#169; Copyright 2022, Jon Elofson.</p>
  </div>

  Built with <a href="https://www.sphinx-doc.org/">Sphinx</a> using a
    <a href="https://github.com/readthedocs/sphinx_rtd_theme">theme</a>
    provided by <a href="https://readthedocs.org">Read the Docs</a>.
   

</footer>
        </div>
      </div>
    </section>
  </div>
  <script>
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>
  <script>
    jQuery(function() { Search.loadIndex("searchindex.js"); });
  </script>
  
  <script id="searchindexloader"></script>
   


</body>
</html>